.theorem {
    display: block;
    font-style: italic;
    color: black;
    background-color: rgba(224, 219, 219, 0.100);
    border-left: 2px gray solid;
    /* border-top: 2px gray solid; */
    margin-left: 1rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .theorem::before {
    /* content: "Theorem. "; */
    font-weight: bold;
    font-style: normal;
  }
  .theorem[text]::before {
    /* content: "Theorem (" attr(text) ") "; */
    content: attr(text)". ";
  }
  .theorem p {
    display: inline;
  }


  .lemma {
    display: block;
    font-style: italic;
    color: black;
    background-color: rgb(230, 237, 237);
    border-left: 2px gray solid;
    padding-left: 1rem;
  }
  .lemma::before {
    /* content: "lemma. "; */
    font-weight: bold;
    font-style: normal;
  }
  .lemma[text]::before {
    /* content: "lemma (" attr(text) ") "; */
    content: attr(text)". ";
  }
  .lemma p {
    display: inline;
  }